Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libm210.la
src/m210.lo
stamp-h1
*~
*.o
others
