Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.am~
src/Makefile.in
stamp-h1
*~
*.o
src/m210-erase
src/m210-info
src/m210-download
src/m210-mouse
src/m210-tablet
src/m210-format-mouse-data
src/m210-format-tablet-data
