Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.am~
src/Makefile.in
stamp-h1
*~
*.o
src/m210-delete-notes
src/m210-get-info
src/m210-get-notes
