ACTION=="add", ATTR{idVendor}=="0e20", ATTR{idProduct}=="0101", RUN+="/usr/local/bin/noter-connect /sys%p"
SUBSYSTEM=="usb", ACTION=="remove", RUN+="/usr/local/bin/noter-disconnect /sys%p"
